<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %highlight{%msg%n}{FATAL=red bold, ERROR=red bold, WARN=yellow bold}"/>
        </Console>

        <File name="FileAppender" fileName="test-logs/selenium-tests.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="stepDefinitions" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="org.openqa.selenium.devtools" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="org.openqa.selenium" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>